<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="layout/template :: head"></head>
<header th:replace="layout/template :: header"></header>
<body>
<div th:if="${clients != null and !clients.isEmpty()}" class="container align-center">
    <div class="row">
        <div class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <h4>Seleccionar Cliente del Contrato</h4>
                </div>
                <br>
                <div th:if="${clients != null and !clients.isEmpty()}">
                    <div class="search-box">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>&nbsp;Buscar Cliente</h5>
                            </div>
                            <div class="col-md-9">
                                <input type="text" id="myInput" class="form-control" placeholder="Ingrese palabra clave">
                                <script>
                                    $(document).ready(function () {
                                        $("#myInput").on("keyup", function () {
                                            var value = $(this).val().toLowerCase();
                                            $("#dtBasicExample tr").filter(function () {
                                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                            });
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <br>
                    <table id="dtBasicExample" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>No. Teléfono</th>
                            <th>Seleccionar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="client : ${clients}" test-id="datasClient">
                            <td th:text="${client.getIdClient()}"></td>
                            <td th:text="${client.getClientName()}"></td>
                            <td th:if="${client.getEmail() != ''}" th:text="${client.getEmail()}"></td>
                            <td th:if="${client.getEmail() == ''}" th:text="${'No Registra'}"></td>
                            <td th:if="${client.getNumberPhone() != null}" th:text="${client.getNumberPhone()}"></td>
                            <td th:if="${client.getNumberPhone() == null}" th:text="${'No Registra'}"></td>
                            <td>
                                <a th:href="@{/findClient/} + ${client.getIdClient()}" test-id="selectedClient" class="btn btn-outline-success">Seleccionar</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-lg-auto">
            <div th:if="${client != null}">
                <div class="card">
                    <div class="card-header">
                        <h4>Informacion del Cliente</h4>
                    </div>
                    <table class="table table-striped" test-id="datasClient">
                        <tr>
                            <td><b>Identificacion</b></td>
                            <td th:text="${client.idClient}"></td>
                        </tr>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td th:text="${client.clientName}"></td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td th:if="${client.getEmail() != ''}" th:text="${client.getEmail()}"></td>
                            <td th:if="${client.getEmail() == ''}" th:text="${'No Registra'}"></td>
                        </tr>
                        <tr>
                            <td><b>Telefono</b></td>
                            <td th:if="${client.getNumberPhone() != null}" th:text="${client.getNumberPhone()}"></td>
                            <td th:if="${client.getNumberPhone() == null}" th:text="${'No Registra'}"></td>
                        </tr>
                    </table>
                </div>
                <br>
                <a class="btn btn-success d-flex justify-content-center" th:href="@{/addContract/}">
                    <i style="margin-top: 4px;" class="fas fa-arrow-alt-circle-right" test-id="confirmClient" ></i>
                    &nbsp; Siguiente</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/template :: footer"></footer>
</body>
</html>